/*Модальное окно при наведении на картинку*/
body .cart-modal li img {
    float: left;
    margin-right: 9px;
    width: 100px;
}

/*кнопка удаления продукта из корзины*/
.btn_delete_product {
	background: none;
	border: none;
}

.total_price_basket {
	font-size: 25px;
}

.order_basket {
	padding-bottom: 20px;
}

.checkout {
    padding: 120px 0;
}

.btn_send_orders {
	margin-top: 20px;
}

